/* FONT FACE */
/* Appelle les polices de la page */
/*-----------GOOGLE FONT-------------*/
@import url('https://fonts.googleapis.com/css?family=Frijole|Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');



.frijole {
    font-family: 'Frijole', cursive;
}


.nosifer {
    font-family: 'Nosifer', cursive;
}
/*Pour les titres*/
.specialEliten, h1, h2, h3 {
    font-family: 'Special Elite', cursive;
}

.gloriaHallelujah {
    font-family: 'Gloria Hallelujah', cursive;
}


.imFellEnglishSC {
    font-family: 'IM Fell English SC', serif;
}


/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */
*{
    box-sizing: border-box;
    transition: 500ms;
}

html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-size: 1.6em;
    background-color:  #e8f8f5 ;
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
}
ul{padding: 0;list-style: none}
nav li{display: inline-block;}


.button{
    padding: 10px;
    box-shadow: 0 0 5px #e74c3c ;
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}
.button:hover{
    background-color: #d1f2eb;
}
.button:active{
    background-color: #76d7c4;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}
.flex-evenly{
    justify-content: space-evenly;
}

.flex-basis{
    flex-basis: 100%;
}

.justify-normal{
    justify-content: normal;
}



.flex-self-end{
    align-self:end;
}

.marge{
    margin: 15px;
}

.marge-top{
    margin-top: 15px;
}

.hidden{
    display: none;
}

.error{
    color: darkred;
}

.center{
    text-align: center;
}

@media screen and (max-width: 728px){
    form{
        position: relative;
    }
    .outOfScreen{
        position: absolute;
        left: -1000px;
        top:-100px;
    }
}
.outOfScreen{}







/*-------------------------- HEADER-------------------------- */
header{
    display: flex;
    margin-top: -10px;
}

header div{
    text-align: center;
    max-width: 115px;
}
header div:hover{
    background-color: RGBA(0,0,0,0.1);
}

header a{
    font-family: 'Frijole', cursive;
    color: #1c2833;
    text-decoration: none;
}

header>a div{
    padding: 5px;
    margin-top: -10px;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    padding: 20px;
    font-size: 2rem;
}
nav a:hover{
    background-color: RGBA(0,0,0,0.1);
}

.notification{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 45px;
}

.duel{
    position: inherit;
}
/*-------------------------- END HEADER-------------------------- */








/* -------------------------------- MAIN -----------------------*/
main{
    margin-bottom: 30px;
    min-height: 100%;

}
/* -------------------------------- END MAIN -----------------------*/








/*------------------ HOME---------------*/

#scores article{
    width: 90%;
    border: 1px solid #aed6f1;
    margin: 10px;
    box-shadow: 1px 1px 10px #aed6f1;
}

#scores article p{
    width: 100%;
    padding: 5px;
    margin-top: -15px;
}

/*Background for each lvl show*/
.facile{
    background-color: #d5f5e3;
}
.moyen{
    background-color:  #fae5d3 ;
}
.difficile{
    background-color:  #f2d7d5 ;
}
/*- end background*/

#scores a{
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 5px;
}

#scores a:hover, .scores:hover{
    background-color: RGBA(255,255,255,0.5);
}

#scores a div, .scores div{
    margin: auto 15px;

}





/*----------------- END HOME -------------*/




/*-------Affichage des points--------*/
.point{
    border-radius: 50%;
    margin: 5px;
}

.point.none{
    width: 20px;
    height: 20px;
}

.point.three{
    width: 90px;
    height: 90px;
}

.point.six{
    width: 40px;
    height: 40px;
}
.point.nine{
    width: 20px;
    height: 20px;
}

.bluePoint{
    background-color: RGB(0,0,255);
    display: inline-block;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/*---- Start Count down/Game Area-----*/
#startIn, .startIn{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    background-color: white;
}

#startIn p{
    position:absolute;
    top: 25%;
    left: 45%;
}

#start{
    margin-top: 25px;
}



/*------- THE GAME ------------*/
#theGame{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: #e8f8f5;
}

#theGame .scores{
    margin-top : -1px;
}

/*--------- END THE GAME -----------*/






/*------------- SELECT DUEL --------------------*/
#selectDuel li{
    width: 100%;
}


#selectDuel a{
    color: black;
    text-decoration: none;
}

#waitingDuel li{
    padding: 15px;
}
/*------------ END  SELECT DUEL -----------------*/





/*----------- FORGOT PASSWORD -------------*/

#answer{
    margin-top: 15px;
    color:  #145a32 ;
}
/*----------- END FORGOT PASSWORD -------------*/










/*---------- PLAYER PAGE ---------------------------*/

#playerPage li a{
    display: block;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    color: black;
    padding: 5px;
}

#playerPage li a i{
    font-size: 0.8rem;
    color: blue;
}

#playerPage .hidden{
    display: none;
}
#playerPage .show{
    display: block;

}

#playerPage h6{
    margin-bottom: -15px;
}

/*---------- END PLAYER PAGE ---------------------------*/



















/*---------------- FAQ --------------------*/
#faq{
    text-align: center;
}
#faq img{
    width: 25%;
    border: 1px inset  #a3e4d7 ;
}
#faq img:hover{
    transform: scale(2);
}

@media screen and (max-width: 728px){
    #faq img:hover{
        transform: scale(3);
    }
}

#faq section{
    border: 1px solid  #ebdef0 ;
    padding: 15px;
    margin: 5px;
}
#faq section:hover{
    border: 1px solid #a3e4d7;

}

/*---------------- END FAQ --------------*/











/*------------ ERROR 404 ---------------*/
#error404 video{
    width: 80%;
}
/*------------- END ERROR 404 --------------*/











/* FOOTER */
/* Ce qui concerne le footer */

footer{
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e8f8f5;
}
footer img{
    max-width: 20px;
}
footer small:nth-child(2){
    margin-top: 10px;
}
