/* FONT FACE */
/* Appelle les polices de la page */
/*-----------GOOGLE FONT-------------*/
@import url('https://fonts.googleapis.com/css?family=Frijole|Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');



.frijole {
    font-family: 'Frijole', cursive;
}


.nosifer {
    font-family: 'Nosifer', cursive;
}
/*Pour les titres*/
.specialEliten, h1, h2, h3 {
    font-family: 'Special Elite', cursive;
}

.gloriaHallelujah {
    font-family: 'Gloria Hallelujah', cursive;
}


.imFellEnglishSC {
    font-family: 'IM Fell English SC', serif;
}


/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */
*{box-sizing: border-box;}
html{  font-size: 62.5%;}
body{
    font-size: 1.6em;
    background-color:  #e8f8f5 ;
    text-align: center;
    width: 90%;
    margin: auto;
}
ul{padding: 0;list-style: none}
nav li{display: inline-block;}


.button{
    padding: 10px;
    box-shadow: 0 0 5px  #76d7c4;
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}
.button:hover{
    background-color: #d1f2eb;
}
.button:active{
    background-color: #76d7c4;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}
.marge{
    margin: 15px;
}

.hidden{
    display: none;
}
/* HEADER */
/* Ce qui concerne le header et la nav */


header{
    display: flex;
    margin-top: -10px;
}

header div{
    text-align: center;
    max-width: 115px;
}
header div:hover{
    background-color: RGBA(0,0,0,0.1);
}

header a{
    font-family: 'Frijole', cursive;
    color: #1c2833;
    text-decoration: none;
}

header div a{
    padding: 5px;
}

nav li{
    display: inline-block;
    margin-top: 5px;

}

nav a{
    padding: 20px;
    font-size: 2rem;
}
nav a:hover{
    background-color: RGBA(0,0,0,0.1);
}










/* MAIN */
/* Ce qui concerne le corps du site */

/*------------------ HOME---------------*/

#scores article{
    width: 90%;
    border: 1px solid #aed6f1;
    margin: 10px;
    box-shadow: 1px 1px 10px #aed6f1;
}

#scores article p{
    width: 100%;
    background-color: #d5f5e3;
    padding: 5px;
    margin-top: -15px;

}

#scores a{
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 5px;
}

#scores a:hover{
    background-color: RGBA(255,255,255,0.5);
}

#scores a div{
    margin: auto 15px;

}





/*----------------- END HOME -------------*/




/*-------Affichage des points--------*/
.point, .bluePoint{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;

}

.bluePoint{
    background-color: RGB(0,0,255);
    display: inline-block;
    margin-bottom: -5px;
}


/*----Compte à rebour avant départ-----*/
#startIn, .startIn{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    border: 2px solid red;
    background-color: yellow;
}
#startIn p{
    position:absolute;
    top: 25%;
    left: 45%;
}





/*-------- ERROR 404 ---------*/
#error404 video{
    width: 80%;
}

/* FOOTER */
/* Ce qui concerne le footer */
